{%extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <br>
            {{ form.title.label }}
            {{ form.title }}
	    {% if form.title.errors %}
        	    {% for error in form.title.errors %}
                	    <span>{{ error }}</span>
            	    {% endfor %}
            {% endif %}
            <br>
            {{ form.content.label }}
            {{ form.content }}
	    {% if form.content.errors %}
        	    {% for error in form.content.errors %}
                	    <span>{{ error }}</span>
            	    {% endfor %}
            {% endif %}
            <br>
            <br>
            {{ form.submit }}
        </form>
    </div>

    {% for post in posts %}
    <div>
        <!-- display properties from the 'post' variable -->
        <p>Author: {{ post.author }}</p>
        <p>Title: {{ post.title }}</p>
        <p>Content: {{ post.content }}</p>
    </div>
<!-- end the for-loop -->
{% endfor %}
{% endblock %}	
